body {
    background-color: #1f1f1f;
    color: white;
}

.ms_card {

    background-color: #112030;
    transition: all 0.8s;
    position: relative;

    .heart {
            
        cursor: pointer;
        padding: 10px;
        font-size: 20px;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .ms_album {
        width: 90%;
        aspect-ratio: 1/1;
        background-image: url(../img/disc.png);
        background-size: cover;
        transition: all 50s linear;


        .poster {
            width: 70%;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }


    }

    h5, h6 {
        margin: 0;
    }

    span {
        font-size: 0.8rem;
    }

    &:hover {
        
        transform: scale(105%);

        .ms_album {
            transform: rotate(1440deg);
        }

    }    
}

.not-found {
    background-color: #112030;

    h3 {
        margin: 0;
    }
}